:root {
    --color-naranja: #EB7623;
    --color-cafe: #351906;
    --color-twob: #2b2b2b;
    --blanco: #fff;
    --semi-semen: #ffffffa6;
    --color-oscuro: #1d1d1d;
    --color-oscuro-claro: #3f3f3f;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    /* 1 rem equivale a 10px*/
    /* font-family: 'Roboto Mono', monospace; */
}

img {
    width: 100%;
}
section{
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
}

h1{
    color: var(--blanco);
    font-weight: bold;
    font-size: 3rem;
    width: 50%;
    margin: 75px 0 0;
}



/* NAVBAR */
.nav-bg {
    width: 100%;
    position: absolute;
    margin-top: 2rem;
    z-index: 1000;
    transition: 0.5s all ease-in-out;
}

.header {
    margin: 0 auto;
    max-width: 130rem;
    width: 97%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    color: var(--blanco);
    transition: 0.5s all ease-in-out;
}

.nav-bg.abajo {
    position: fixed;
}

.nav-bg.abajo .header {
    background: var(--semi-semen);
    color: var(--color-oscuro);
    margin: 0 auto;
    height: 5rem;
    transition: 0.5s all ease-in-out;
    padding: 1rem;
    backdrop-filter: blur(8px);
    border-bottom: 2px solid var(--semi-semen);
    border-left: 1px solid var(--semi-semen);
    box-shadow: 0px 0px 44px -17px rgba(0, 0, 0, 0.29);
    border-radius: 1rem;
}

.nav-bg.abajo .header .nav a {
    color: var(--color-oscuro);
}

.nav-bg.abajo .header .nav a:hover {
    color: var(--blanco);
}

.header .nav a {
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem;
    transition: 0.5s ease-in-out;
}

.header .nav a:hover {
    background-color: var(--color-naranja);
    color: var(--blanco);
    border-radius: 5px;
}

.toggle {
    display: none;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .header {
        position: relative;
    }
    .nav {
        width: 100%;
        background-color: var(--semi-semen);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        border-bottom: 2px solid var(--blanco);
        border-left: 1px solid var(--blanco);
        backdrop-filter: blur(4px);
        padding: 1.3rem;
    }
    .header .nav a{
        color: var(--color-oscuro);
    }

    .toggle {
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        right: 2.5rem;
    }

    .nav-bg.abajo .toggle {
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        right: 1rem;
    }

    .toggle span {
        position: absolute;
        width: 2.6rem;
        height: 2px;
        background: var(--blanco);
        border-radius: 4px;
        transition: 0.5s;
    }

    .nav-bg.abajo .toggle span {
        background: var(--color-oscuro);
    }

    .toggle span:nth-child(1) {
        transform: translateY(-9px);
        width: 15px;
        left: 5px;
    }

    .toggle.cambiar span:nth-child(1) {
        width: 2.6rem;
        transform: translateY(0px) rotate(45deg);
        transition-delay: 0.125s;
    }

    .toggle span:nth-child(2) {
        transform: translateY(9px);
        width: 8px;
        left: 5px;
    }

    .toggle.cambiar span:nth-child(2) {
        width: 2.6rem;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25s;
    }

    .toggle.cambiar span:nth-child(3) {
        transform: translateX(30px);
        width: 8px;
        left: 5px;
        opacity: 0;
    }

    .header .nav {
        left: -6rem;
        top: 6rem;
        transition: 0.5s all ease-in-out;
        opacity: 0;
    }

    .header .toggle.cambiar~.nav {
        left: 0;
        top: 6rem;
        opacity: 1;
    }

    .toggle.cambiar~.header {
        backdrop-filter: blur(4px);
    }

    .logo {
        opacity: 1;
    }

    .nav-bg.abajo .logo {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .nav-bg {
        margin-top: 1rem;
    }

    .header {
        padding: 1rem;
    }

    .toggle {
        right: 1rem;
    }

    .nav-bg.abajo {
        margin-top: 2rem;
    }
}

/* Portada */
.home {
    background-image: url('/img/portada.jpeg');
    background-size: cover;
    background-position: center 63%;
    background-repeat: no-repeat;
    height: 961px;
    width: 100%;
}

.home__container {
    padding: 14rem 3rem;
    max-width: 130rem;
    margin: 0 auto;
}

.home__container p{
    color: var(--blanco);
}

/* Servicios */
.services__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.service-card {
    width: 320px;
    height: 450px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    /* margin: 10px 0; */
    color: #fff;
    position: relative;
}

.service-card .poster {
    position: relative;
    overflow: hidden;
}

.service-card .poster::before {
    content: "";
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--color-twob) 30%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.service-card:hover .poster::before {
    bottom: 0px;
}

.service-card .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.service-card img {
    height: auto;
    transition: 0.5s;
    height: 100%;
    object-fit: cover;
}

.service-card:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.service-card .services__details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 100%;
    bottom: -120px;
    transition: 0.5s;
    padding: 10px;
    z-index: 999;
    transition: 0.5s;
}

.service-card:hover .services__details {
    bottom: 0;
}

.service-card .tags span {
    border-radius: 5px;
    background: var(--color-cafe);
    padding: 4px;
    margin: 0 5px;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios h2 {
    font-size: 5rem;
    font-weight: regular;
    color: var(--color-cafe);
    margin: 50px 0;
}
.services__details h3 {
    margin: 0px;
}

.services__details h4 {
    font-weight: 100;
}

.services__details a {
    text-decoration: none;
    color: var(--color-twob);
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.services__details a:hover {
    background-color: var(--color-naranja);
    color: white;
    padding: 10px;
}

@media(max-width: 900px){
    .services__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 700px){
    .services__container{
        grid-template-columns: unset;
    }
}