@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --color-naranja: #EB7623;
    --color-cafe: #351906;
    --color-twob: #2b2b2b;
    --blanco: #fff;
    --semi-semen: #ffffffa6;
    --color-oscuro: #1d1d1d;
    --bg-body: #F3F3EE;
    --color-opinion: #ffd900;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-body);
}

img {
    width: 100%;
}

section {
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    color: var(--blanco);
    font-weight: bold;
    font-size: 3rem;
    width: 50%;
    margin: 75px 0 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    font-style: normal;
}

h2 {
    font-size: 5rem;
    font-weight: regular;
    color: var(--color-cafe);
    margin: 50px 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: left;
}

@media(max-width: 500px) {
    h2 {
        font-size: 4rem !important;
    }
}

/* NAVBAR */
.nav-bg {
    width: 100%;
    position: absolute;
    margin-top: 2rem;
    z-index: 1000;
    transition: 0.5s all ease-in-out;
}

.header {
    margin: 0 auto;
    max-width: 130rem;
    width: 97%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    color: var(--blanco);
    transition: 0.5s all ease-in-out;
}

.nav-bg.abajo {
    position: fixed;
}

.nav-bg.abajo .header {
    background: var(--semi-semen);
    color: var(--color-oscuro);
    margin: 0 auto;
    height: 5rem;
    transition: 0.5s all ease-in-out;
    padding: 1rem;
    backdrop-filter: blur(8px);
    border-bottom: 2px solid var(--semi-semen);
    border-left: 1px solid var(--semi-semen);
    box-shadow: 0px 0px 44px -17px rgba(0, 0, 0, 0.29);
    border-radius: 1rem;
}

.nav-bg.abajo .header .nav a {
    color: var(--color-oscuro);
}

.nav-bg.abajo .header .nav a:hover {
    color: var(--blanco);
}

.header .nav a {
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem;
    transition: 0.5s ease-in-out;
}

.header .nav a:hover {
    background-color: var(--color-naranja);
    color: var(--blanco);
    border-radius: 5px;
}

.toggle {
    display: none;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .header {
        position: relative;
    }

    .nav {
        width: 100%;
        background-color: var(--semi-semen);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        border-bottom: 2px solid var(--blanco);
        border-left: 1px solid var(--blanco);
        backdrop-filter: blur(4px);
        padding: 1.3rem;
    }

    .header .nav a {
        color: var(--color-oscuro);
    }

    .toggle {
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        right: 2.5rem;
    }

    .nav-bg.abajo .toggle {
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        right: 1rem;
    }

    .toggle span {
        position: absolute;
        width: 2.6rem;
        height: 2px;
        background: var(--blanco);
        border-radius: 4px;
        transition: 0.5s;
    }

    .nav-bg.abajo .toggle span {
        background: var(--color-oscuro);
    }

    .toggle span:nth-child(1) {
        transform: translateY(-9px);
        width: 15px;
        left: 5px;
    }

    .toggle.cambiar span:nth-child(1) {
        width: 2.6rem;
        transform: translateY(0px) rotate(45deg);
        transition-delay: 0.125s;
    }

    .toggle span:nth-child(2) {
        transform: translateY(9px);
        width: 8px;
        left: 5px;
    }

    .toggle.cambiar span:nth-child(2) {
        width: 2.6rem;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25s;
    }

    .toggle.cambiar span:nth-child(3) {
        transform: translateX(30px);
        width: 8px;
        left: 5px;
        opacity: 0;
    }

    .header .nav {
        left: -6rem;
        top: 6rem;
        transition: 0.5s all ease-in-out;
        opacity: 0;
    }

    .header .toggle.cambiar~.nav {
        left: 0;
        top: 6rem;
        opacity: 1;
    }

    .toggle.cambiar~.header {
        backdrop-filter: blur(4px);
    }

    .logo {
        opacity: 1;
    }

    .nav-bg.abajo .logo {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .nav-bg {
        margin-top: 1rem;
    }

    .header {
        padding: 1rem;
    }

    .toggle {
        right: 1rem;
    }

    .nav-bg.abajo {
        margin-top: 2rem;
    }
}

/* Portada */
.home {
    background-image: url('/img/portada.jpeg');
    background-size: cover;
    background-position: center 63%;
    background-repeat: no-repeat;
    height: 961px;
    width: 100%;
}

.home__container {
    padding: 14rem 3rem;
    max-width: 130rem;
    margin: 0 auto;
}

.home__container p {
    color: var(--blanco);
}

/* Servicios */
.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.service-card {
    width: 320px;
    height: 450px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    color: #fff;
    position: relative;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.03);
}

.service-card .poster {
    position: relative;
    overflow: hidden;
}

.service-card .poster::before {
    content: "";
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--color-twob) 30%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.service-card:hover .poster::before {
    bottom: 0px;
}

.service-card .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.service-card img {
    height: auto;
    transition: 0.5s;
    height: 100%;
    object-fit: cover;
}

.service-card:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.service-card .services__details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 100%;
    bottom: -120px;
    transition: 0.5s;
    padding: 10px;
    z-index: 999;
    transition: 0.5s;
}

.service-card:hover .services__details {
    bottom: 0;
}

.service-card .tags span {
    border-radius: 5px;
    background: var(--color-cafe);
    padding: 4px;
    margin: 0 5px;
}

.services__details h3 {
    margin: 0px;
}

.services__details h4 {
    font-weight: 100;
}

.services__details a {
    text-decoration: none;
    color: var(--color-twob);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.services__details a:hover {
    background-color: var(--color-naranja);
    color: white;
    padding: 10px;
}

@media(max-width: 900px) {
    .services__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 700px) {
    .services__container {
        grid-template-columns: unset;
    }
}

/*=============== WORK ===============*/

.work__container {
    padding-top: 1rem;
}

.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work__item {
    cursor: pointer;
    color: var(--title-color);
    padding: 1rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
}

.work__img {
    border-radius: 1rem;
    margin-bottom: .75rem;
    min-height: 200px;
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.work__button {
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.work__button:hover .work__icon {
    transform: translate(.25rem);
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.work__icon {
    font-size: 1rem;
    transition: .4s;
}

/* Active item work*/

.active-work {
    background-color: var(--color-naranja);
    color: white;
    transition: .4s all;
}



/* Nosotros */

#nosotros {
    background-image: url('/img/nosotros.png');
    background-size: cover;
    background-position: center 63%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80rem;
    margin: 0;
    max-width: unset;
    color: var(--blanco);
}

.contain__nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
}

.nosotros__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container__info h2 {
    font-size: 5rem;
    font-weight: bold;
    color: var(--blanco);
    margin: 50px 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    margin: 0 0 3rem 0;
}

.nosotros__logo {
    width: 30%
}

.nosotros__info .icon {
    font-size: 5rem;
}

@media(max-width: 780px) {
    .contain__nosotros {
        flex-direction: column;
        gap: 3rem;
    }

    .nosotros__logo {
        width: 50%;
    }

    .container__info {
        width: 100%;
        padding: 0 3rem;
    }
}

@media(max-width: 480px) {
    .nosotros__info {
        flex-direction: column;
    }
}

/* Paquetes */

.container__paquetes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.paquetes__card {
    background-color: var(--blanco);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.03);
}

.paquetes__card:nth-child(2) {
    flex-direction: row-reverse;
}

.card__img {
    width: 40%;
    height: 60rem;
}

.card__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
}

.card__info h3 {
    font-size: 3rem;
}

button {
    background-color: var(--color-cafe);
    color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
    border: unset;
    transition: background-color ease-in-out .3s;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-twob);
}

/*=============== TESTIMONIAL ===============*/

.testimonial__card{
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
  }

  .testimonial__card{
    background-color: var(--color-cafe);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    color: white;
  }

  .testimonial__img{
    width: 60px;
    border-radius: 3rem;
    margin-bottom: 1rem;
  }

.testimonial__name {
    font-size: large;
    font-weight: medium;
    margin-bottom: .25rem;
}

.testimonial__description {
    font-size: small;
}

/* Swiper class */

.swiper-pagination-bullet {
    background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

@media(max-width:654px) {
    .container__paquetes {
        padding: 0;
    }

    .card__img {
        display: none;
    }

    .paquetes__card {
        flex-direction: column;
    }

    .paquetes__card:nth-child(2) {
        flex-direction: column;
    }

    .card__info {
        width: 100%;
    }
}

/* Opiniones */

.container__opiniones {
    width: 100%;
}

.card__opiniones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.card__contenido {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenido__img {
    width: 100%;
    height: 35rem;
}

.contenido__img img {
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.03);
}

.contenido__info {
    background-color: var(--blanco);
    padding: 2rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.03);
    margin-top: -11rem;
}

.calificacion {
    color: var(--color-opinion);
}

@media (max-width: 972px) {
    .contenido__info {
        margin-top: -18rem;
    }
}

@media (max-width: 750px) {
    .card__opiniones {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 530px) {
    .card__opiniones {
        grid-template-columns: unset;
        gap: 5rem;
    }

    .contenido__info {
        margin-top: -3rem;
    }
}
@media (max-width: 436px) {

    .contenido__info {
        margin-top: -10rem;
    }
}

/* Formulario */

span {
    color: red;
}

.container__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    background-color: var(--blanco);
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.03);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

/* Footer */

footer {
    width: 100%;
    background-color: var(--color-cafe);
    color: var(--blanco);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    font-weight: bold;
    font-size: 3rem;
}

.footer__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 130rem;
    margin: 0 auto;
}

.iconos__redes {
    font-size: 2.5rem;
}

.iconos__redes a {
    text-decoration: none;
    color: var(--blanco);
}

.iconos__redes i {
    cursor: pointer;
}

@media(max-width: 722px) {
    .footer__info {
        grid-template-columns: unset;
    }
}

/* For small devices */

@media screen and (max-width: 320px) {

    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: .25rem;
    }

}

/* For medium devices */

@media screen and (min-width: 576px) {

    .work__container {
        justify-content: center;
    }

    .work__img {
        width: 295px;
    }

    .contact__info {
        grid-template-columns: 330px;
        justify-content: center;
    }

    .contact__form {
        width: 360px;
        margin: 0 auto;
    }
}

@media screen and (min-width:767px) {

    .work__container {
        grid-template-columns: repeat(2, max-content);
    }

}

/* For large devices */

@media screen and (min-width: 1050px) {
    .work__container {
        gap: 3rem;
    }

    .work__card {
        padding: 1.25rem;
    }

    .work__img {
        margin-bottom: 1rem;
    }

    .work__title {
        margin-bottom: .5rem;
    }

    .work__container {
        grid-template-columns: repeat(3, max-content);
    }

    .testimonial__container {
        width: 750px;
    }

    .testimonial__card {
        padding: 1.5rem 2rem;
    }
}